body {
  background-color: blueviolet;
}
.container {
  background-color: #fbf7e3;
  display: flex;
  flex-shrink: 1;
  flex-basis: 200px;
  flex-wrap: wrap-reverse;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4em;
  margin-left: auto;
  margin-right: auto;
}

.im img {
  border-radius: 4em;
  padding: 20px;
  display: flex;
  flex-shrink: 1;
  flex-basis: 250px;
  aspect-ratio: 1/1;
  width: 340px;
}
.im {
  display: flex;
}

.par {
  padding: 20px;
  display: inline;
  flex: 1 1 400px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}
